---
import BaseLayout from '../layouts/BaseLayout.astro';

import MealPreview from '../components/MealPreview.astro';
---

<script>
	const now = new Date();
	const hour = now.getHours();
	const meal = hour < 15 ? 'lunch' : 'dinner';
	window.addEventListener('DOMContentLoaded', () => {
		document.getElementById('current-meal').textContent = meal;
	});
</script>
<BaseLayout>
	<main class=''>
		<section class='text-bg-secondary py-5'>
			<div class='container'>
				<h1 class='display-1'>
					What's for <span id='current-meal'></span>?
				</h1>
				<div class='row'>
					<div class='col-lg-4'>
						<MealPreview
							meal={{
								name: 'Greek Turkey Burgers',
								slug: 'greek-turkey-burger',
							}}
						/>
					</div>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>
