---
import { SITE_TITLE } from '../consts';
---

<script>
	import 'bootstrap/js/dist/offcanvas';
</script>
<style>
	header {
		top: var(--wp-admin--admin-bar-height, 0);
	}
</style>
<header
	class='container-fluid gx-5 bg-white py-4 z-3 border-top border-1 border-primary-subtle'
>
	<h2 class='m-0 fs-4'>Utility Area. Content TBD</h2>
</header>
